@import "tailwindcss";

/* Markdown styles, credits for: https://github.com/sindresorhus/github-markdown-css*/
@import url("../styles/markdown-github.css");
/* --------------- */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Temp bg (i'll create by myself later), credits for "SelfMadeSystem" */
  .bg-animated-green {
    @apply absolute inset-0 bg-black;
  }

  .bg-animated-green::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: radial-gradient(
      circle at 50% 50%,
      #0000 0,
      #0000 2px,
      hsl(120 50% 4%) 2px
    );
    background-size: 8px 8px;
    animation: hiii 5s ease-in-out infinite;
    --f: blur(3em) brightness(9);
  }

  @keyframes hiii {
    0% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    25% {
      backdrop-filter: var(--f) hue-rotate(-25deg);
    }
    28% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    32% {
      backdrop-filter: var(--f) hue-rotate(-20deg);
    }
    39% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    40% {
      backdrop-filter: var(--f) hue-rotate(-20deg);
    }
    41% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    42% {
      backdrop-filter: var(--f) hue-rotate(-25deg);
    }
    44% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    58% {
      backdrop-filter: var(--f) hue-rotate(-20deg);
    }
    64% {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
    80% {
      backdrop-filter: var(--f) hue-rotate(-25deg);
    }
    to {
      backdrop-filter: var(--f) hue-rotate(0deg);
    }
  }

  .bg-animated-green::before {
    content: "";
    position: absolute;
    inset: -145%;
    rotate: -45deg;
    --c: #0f0;
    --c1: #0a0;
    background-image:
      radial-gradient(4px 100px at 0px 235px, var(--c), #0000),
      radial-gradient(4px 100px at 300px 235px, var(--c), #0000),
      radial-gradient(3px 4px at 150px 117.5px, var(--c1) 100%, #0000 150%),
      radial-gradient(4px 100px at 0px 252px, var(--c), #0000),
      radial-gradient(4px 100px at 300px 252px, var(--c), #0000),
      radial-gradient(3px 4px at 150px 126px, var(--c1) 100%, #0000 150%),
      radial-gradient(4px 100px at 0px 150px, var(--c), #0000),
      radial-gradient(4px 100px at 300px 150px, var(--c), #0000),
      radial-gradient(3px 4px at 150px 75px, var(--c1) 100%, #0000 150%);
    background-size:
      300px 235px,
      300px 235px,
      300px 235px;
    animation: hi 150s linear infinite;
  }

  @keyframes hi {
    0% {
      background-position:
        0px 220px,
        3px 220px,
        151.5px 337.5px;
    }
    to {
      background-position:
        0px 6800px,
        3px 6800px,
        151.5px 6917.5px;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #171717;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #171717;
    --destructive: #dc2626;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #0a0a0a;
    --radius: 1rem;
    --chart-1: #d29d49;
    --chart-2: #3f8f7c;
    --chart-3: #27627c;
    --chart-4: #f1b34a;
    --chart-5: #e18c39;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #171717;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #842323;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #476cbf;
    --chart-2: #2b7a78;
    --chart-3: #8a6c42;
    --chart-4: #674fa7;
    --chart-5: #9c4155;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
